.header-container {
  background-color: rgba(252,90,44,.89);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-container {
  height: 700px;
  width: 100%;
  background-image: url('./images/pattern.svg');
  background-color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.forecast-container {
  text-align: center;
}

.day-container {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background-color: #90CAF9;
  box-shadow: 4px 4px 5px -3px rgba(0,0,0,0.75);
  border-radius: 4px;
  text-align: left;
  cursor: pointer;
}

.city-name {
  text-align: center;
}

.detail-container {
  text-align: center;
  margin-top: 50px;
}

.detail-container h1 {
  cursor: pointer;
}

.header-link {
  text-decoration: none;
  color: white;
}


