.header-container {
  background-color: rgba(252,90,44,.89);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.page-container {
  height: 700px;
  width: 100%;
  background-image: url('./images/pattern.svg');
  background-color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
